.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }
  
  .login-cont {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 300px;
    background-color: rgb(193, 193, 193);
    border-radius: 5px;
    padding: 10px;
  }